textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;

    font-size: 18px;
    font-weight: bold;
}

.text-breakall {
    word-break: break-all;
}

.bookmarks {
    margin-top: 8px;
}

.bookmark {
    padding: 2px 3px;
    margin: 3px 0;
    border-bottom: 1px solid lightgrey;
}

.bookmark .title {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.bookmark .url {
    font-size: 11px;
}

.bookmark:hover {
    cursor: pointer;
    background: lightgrey;
}