/*URL 文本框样式*/
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;

    font-size: 18px;
    font-weight: bold;
}

.text-breakall {
    word-break: break-all;
}

/*左栏书签*/
.bookmarks {
    margin-top: 8px;
}

.bookmark {
    padding: 2px 3px;
    margin: 3px 0;
    border-bottom: 1px solid lightgrey;
    transition-duration: 0.4s;
}

.bookmark .title {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.bookmark .url {
    font-size: 11px;
}

.bookmark:hover {
    cursor: pointer;
    background: #EEEEEE;
}

/*主二维码*/
.qrImgContainer {
    max-width: 80%;
}

.qrImgContainer img {
    margin-right: auto;
}

/*快捷按钮*/
.quickButton{
    min-width: 130px;
    margin: 3px;
}

/*右栏最近 URL*/
.recentUrlsContainer {
}

.recentUrlsContainer .caption {
    text-align: center;
    padding: 10px;
    color: grey;
}

.recentUrlsContainer .recentUrl {
    display: flex;
    margin-bottom: 5px;
    border-top: 1px solid #DDDDDD;
    transition-duration: 0.4s;
}

.recentUrlsContainer .recentUrl .qrImg img {
    width: 80px;
    height: 80px;
}

.recentUrlsContainer .recentUrl .qrImg {
    margin: 3px;
    min-width: 80px;
    flex: 1;
}

.recentUrlsContainer .recentUrl .details {
    flex: 3;
}

.recentUrlsContainer .recentUrl .details .title {
    margin: 3px;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.recentUrlsContainer .recentUrl .details .url p {
    margin: 3px;
    font-size: 12px;
    line-height: 99%;
}

.recentUrlsContainer .recentUrl:hover {
    cursor: pointer;
    background: #EEEEEE;
}

/* main 页面下 footer*/
.mainFooter {
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #BBBBBB;
    border-top: 1px solid #EEEEEE;
    text-align: center;
    font-style: italic;
    font-size: 14px;
}