<!DOCTYPE html>
<html ng-app="quicoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>快码Quico 次世代生产力二维码工具</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <link rel="stylesheet" href="../css/app.css">
</head>
<body ng-controller="mainCtrl" class="">

<div class="container-fluid">

    <div class="row m-y-1">

        <!--左栏-->
        <div class="col-sm-4">
            <div class="media m-y-2 ">
                <a class="media-left" href="#">
                    <img class="media-object" src="../img/icon.ico" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Quico 快码</h3>
                    <p class="lead">次世代生产力二维码工具</p>
                    <p>Just feeling QRcodes on the fly.</p>
                </div>
            </div>

            <div class="list-group">
                <button class="list-group-item text-breakall list-group-item-success"
                        ng-click="openQuicoBookmarksInNewTab()">
                    <i class="fa fa-bookmark"></i>
                    Quico Bookmarks ( chrome://bookmarks/#{{bookmarksRootId}} )
                </button>
                <button class="list-group-item text-breakall"
                        ng-repeat="bookmark in bookmarks"
                        ng-click="onClickRecentUrls(bookmark.url)">
                    <a ng-href="bookmark.url">{{bookmark.url}}</a>
                    <p>{{bookmark.title}}</p>
                </button>
            </div>
        </div>


        <!--中栏-->
        <div class="col-sm-5 m-y-1">
            <form>
                <div class="form-group row">
                    <label for="texteraFullUrl" class="col-sm-2 form-control-label">Full URL</label>
                    <div class="col-sm-10">
                        <textarea id="texteraFullUrl" class="form-control"
                                  ng-model="currentUrl" ng-change="onChangeUrlTexteara()"
                                  style="word-break: break-all"
                                  rows="4"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputDomain" class="col-sm-2 form-control-label">Base</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="inputDomain"
                               placeholder="http://domain.com"
                               ng-model="currentBase" ng-change="onChangeUrlDetails()">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPath" class="col-sm-2 form-control-label">Path</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="inputPath" placeholder="/path"
                               ng-model="currentPath" ng-change="onChangeUrlDetails()">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputQuery" class="col-sm-2 form-control-label">Query</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">?</div>
                            <input type="text" class="form-control form-control-sm" id="inputQuery"
                                   placeholder="key=value"
                                   ng-model="currentQuery" ng-change="onChangeUrlDetails()">
                        </div>
                    </div>
                </div>

                <div class="form-group row" ng-repeat="param in currentParams">
                    <label for="inputParam{{$index}}" class="col-sm-2 form-control-label">Param</label>
                    <div class="col-sm-3 p-r-0">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="inputParam{{$index}}"
                                   placeholder="key"
                                   ng-model="param.key"
                                   ng-change="onChangeParams()">
                            <div class="input-group-addon">=</div>
                        </div>
                    </div>

                    <div class="col-sm-7 p-l-0">
                        <input type="text" class="form-control form-control-sm" id="inputParam{{$index}}value"
                               placeholder="value"
                               ng-model="param.value"
                               ng-change="onChangeParams($index)">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputHash" class="col-sm-2 form-control-label">Hash</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">#</div>
                            <input type="text" class="form-control form-control-sm" id="inputHash"
                                   placeholder="hash"
                                   ng-model="currentHash" ng-change="onChangeUrlDetails()">
                        </div>
                    </div>
                </div>

            </form>
        </div>


        <!--右栏-->
        <div class="col-sm-3">

            <div class="row m-y-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <img class="img-fluid img-thumbnail" ng-src="{{currentCase.base64img}}">
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row m-a-1">
                <div class="btn-group center-block" role="group" aria-label="Basic example">
                    <button type="button" class="btn  btn-warning col-sm-6"
                            ng-click="onClickClear()">
                        <i class="fa fa-trash"></i>
                        Clear
                    </button>
                    <button type="button" class="btn  btn-primary col-sm-6"
                            ng-click="onClickDownloadBtn()">
                        <i class="fa fa-arrow-down"></i>
                        Download
                    </button>
                    <!--<button type="button" class="btn btn-secondary col-sm-4">Right</button>-->
                </div>
            </div>


            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <i class="fa fa-rocket"></i>
                    Recent URLs
                </li>

                <button type="button" class="list-group-item text-breakall"
                        ng-repeat="aQrcode in qrCodeList"
                        ng-click="onClickRecentUrls(aQrcode.url)">
                    <div class="row">
                        <div class="col-sm-3 p-x-0">
                            <img class="img-fluid" ng-src="{{aQrcode.base64QrImg}}">
                        </div>
                        <div class="col-sm-9 p-r-0">
                            <a class="text-breakall text-primary" href="{{aQrcode.url}}"
                               target="_blank">{{aQrcode.url}}</a>
                            <p class="text-breakall font-italic text-muted">{{aQrcode.title}}</p>
                        </div>
                    </div>
                </button>
            </ul>

        </div>

    </div>
</div>


<hr>

<div id="qrcode" hidden>

    <p id="tabUrl" hidden></p>
    <p id="tabTitle" hidden></p>
    <!--<a id="hiddenA"></a>-->
</div>

</body>

<!-- jQuery first, then Bootstrap JS. -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- angular v1 -->
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
<script src="../bower_components/angular/angular.js"></script>


<!--lib-->
<script src="../bower_components/qrcode.js/qrcode.js"></script>

<!--angular app-->
<script src="../app/app.js"></script>
<script src="../app/mainCtrl.js"></script>

<!--app-->
<script src="../js/util/qr_util.js"></script>
<script src="../js/main.js"></script>

</html>