<!DOCTYPE html>
<html ng-app="quicoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>快码Quico 次世代生产力二维码工具</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--fontawesome css-->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!--app css-->
    <link rel="stylesheet" href="../css/main.css">




    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/angular/angular.js"></script>


    <!--lib-->
    <script src="../bower_components/qrcode.js/qrcode.js"></script>

    <!--angular app-->
    <script src="../app/app.js"></script>
    <script src="../app/mainCtrl.js"></script>

    <!--app-->
    <script src="../js/util/qr_util.js"></script>
    <script src="../js/util/url_util.js"></script>
    <script src="../js/track.js"></script>


</head>
<body ng-controller="mainCtrl" class="">

<div class="container-fluid">

    <div class="row m-y-1">

        <!--左栏-->
        <div class="col-sm-3">
            <!--Icon and slogan-->
            <div class="media m-t-1">
                <a class="media-left" href="#">
                    <img class="media-object" src="../img/icon.ico" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h3 class="media-heading font-weight-bold">Quico 快码</h3>
                    <p class="font-weight-bold font-italic">次世代生产力二维码工具</p>
                </div>
            </div>

            <div class="m-t-1">
                <div class="btn btn-sm btn-success btn-block text-breakall font-weight-bold"
                     ng-click="openQuicoBookmarksInNewTab()">
                    <div>
                        <i class="fa fa-bookmark"></i>
                        Quico Bookmarks
                    </div>
                    <div>
                        (chrome://bookmarks/#{{bookmarksRootId}})
                    </div>
                </div>
            </div>

            <div class="bookmarks">
                <div ng-repeat="bookmark in bookmarks" ng-click="onClickRecentUrls(bookmark.url)"
                     class="bookmark">
                    <div class="title text-breakall">{{bookmark.title}}</div>
                    <div class="url text-breakall">{{bookmark.url}}</div>
                </div>
            </div>

        </div>


        <!--中栏-->
        <div class="col-sm-6 m-y-1">
            <form>
                <div class="form-group row">
                    <label for="texteraFullUrl" class="col-sm-1 form-control-label">URL</label>
                    <div class="col-sm-11">
                        <textarea id="texteraFullUrl" class="form-control"
                                  ng-model="currentUrl" ng-change="onChangeUrlTexteara()"
                                  style="word-break: break-all"
                                  rows="4"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputDomain" class="col-sm-1 form-control-label">Base</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control form-control-sm" id="inputDomain"
                               placeholder="http://domain.com"
                               ng-model="currentBase" ng-change="onChangeUrlDetails()">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPath" class="col-sm-1 form-control-label">Path</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control form-control-sm" id="inputPath" placeholder="/path"
                               ng-model="currentPath" ng-change="onChangeUrlDetails()">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputQuery" class="col-sm-1 form-control-label">Query</label>
                    <div class="col-sm-11">
                        <div class="input-group">
                            <div class="input-group-addon">?</div>
                            <input type="text" class="form-control form-control-sm" id="inputQuery"
                                   placeholder="key=value"
                                   ng-model="currentQuery" ng-change="onChangeUrlDetails()">
                        </div>
                    </div>
                </div>

                <div class="form-group row" ng-repeat="param in currentParams">
                    <label for="inputParam{{$index}}" class="col-sm-1 form-control-label">Param</label>
                    <div class="col-sm-3 p-r-0">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="inputParam{{$index}}"
                                   placeholder="key"
                                   ng-model="param.key"
                                   ng-change="onChangeParams()">
                            <div class="input-group-addon">=</div>
                        </div>
                    </div>

                    <div class="col-sm-8 p-l-0">
                        <input type="text" class="form-control form-control-sm" id="inputParam{{$index}}value"
                               placeholder="value"
                               ng-model="param.value"
                               ng-change="onChangeParams($index)">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputHash" class="col-sm-1 form-control-label">Hash</label>
                    <div class="col-sm-11">
                        <div class="input-group">
                            <div class="input-group-addon">#</div>
                            <input type="text" class="form-control form-control-sm" id="inputHash"
                                   placeholder="hash"
                                   ng-model="currentHash" ng-change="onChangeUrlDetails()">
                        </div>
                    </div>
                </div>

            </form>
        </div>


        <!--右栏-->
        <div class="col-sm-3">
            <!--主二维码显示面板-->
            <div class="row m-y-1 qrImgContainer">
                <img class=" img-thumbnail" ng-src="{{currentCase.base64img}}">
            </div>

            <!--快捷按钮-->
            <div class="quickButtonsContainer">
                <!--新页面打开按钮-->
                <div class="quickButton">
                    <a ng-href="{{currentUrl}}" target="_blank">
                        <button type="button" class="btn btn-sm btn-success btn-block">
                            <i class="fa fa-arrow-right"></i>
                            Goto
                        </button>
                    </a>
                </div>

                <!--清空按钮-->
                <div class="quickButton">
                    <button type="button" class="btn btn-sm btn-warning  btn-block"
                            ng-click="onClickClear()">
                        <i class="fa fa-times"></i>
                        Clear
                    </button>
                </div>

                <!--下载二维码按钮-->
                <div class="quickButton">
                    <button type="button" class="btn btn-sm btn-primary btn-block"
                            ng-click="onClickDownloadBtn()">
                        <i class="fa fa-arrow-down"></i>
                        Download
                    </button>
                </div>

            </div>


            <!--最近 URL-->
            <div class="recentUrlsContainer">
                <!--caption-->
                <div class="caption">
                    <i class="fa fa-rocket"></i>
                    Recent URLs
                </div>

                <!--recentUrl List-->
                <div class="recentUrl text-breakall"
                     ng-repeat="aQrcode in qrCodeList" ng-click="onClickRecentUrls(aQrcode.url)">

                    <div class="qrImg">
                        <img class="" ng-src="{{aQrcode.base64QrImg}}">
                    </div>

                    <div class="details">
                        <!--title-->
                        <p class="title text-breakall font-italic text-muted">{{aQrcode.title}}</p>

                        <!--url-->
                        <a class="url text-breakall" href="{{aQrcode.url}}"
                           target="_blank"><p>{{aQrcode.url}}</p></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--footer-->
<div class="mainFooter">
    <p>Efficient and Elegant way with QR codes, just feeling it on the fly. 快码二维,疾行如风.</p>
    <p>Quico. Powered by Bowen © 2016</p>
</div>

</body>


</html>