<!DOCTYPE html>
<html ng-app="quicoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>main</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- angular v1 -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/angular/angular.js"></script>


    <link rel="stylesheet" href="../css/app.css">
</head>
<body ng-controller="mainCtrl">

<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <h1 class="navbar-brand">Quico 快码</h1>
    </nav>
    <hr>

    <div class="row p-y-1">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
                <textarea ng-model="currentUrl" ng-change="onCurrentUrlChange()" rows="5"></textarea>
            </div>
            <div class="row">
                <p>{{parser.protocol}}</p>
                <p>{{parser.hostname}}</p>
                <p>{{parser.port}}</p>
                <p>{{parser.pathname}}</p>
                <p>{{parser.search}}</p>
                <p>{{parser.hash }}</p>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <img class="img-fluid img-thumbnail" src="{{currentQrBase64}}"
                 ng-if="currentUrl!=undefined && currentQrBase64!=undefined">
        </div>
    </div>

    <hr>

    <div id="qrcode" hidden></div>

    <p id="tabUrl" hidden></p>
    <p id="tabTitle" hidden></p>

    <div class="row">
        <div class="col-sm-6 m-y-1" ng-repeat="aQrcode in qrCodeList">
            <div class="col-sm-5">
                <img class="img-fluid img-thumbnail" src="{{aQrcode.base64QrImg}}">
            </div>
            <div class="col-sm-7">
                <a class="text-breakall text-primary" href="{{aQrcode.url}}" target="_blank">{{aQrcode.url}}</a>
                <p class="text-breakall font-italic text-muted">{{aQrcode.title}}</p>
            </div>
        </div>
    </div>


</div>


</body>


<!--lib-->
<script src="../bower_components/qrcode.js/qrcode.js"></script>

<!--angular app-->
<script src="../app/controllers.js"></script>
<script src="../app/mainCtrl.js"></script>

<!--app-->
<script src="../js/util/qr_util.js"></script>
<script src="../js/main.js"></script>

</html>